.card__user-card-container {
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid grey;
  font-family: Helvetica;
  margin: 3px;
  width: 30%; }

.card__user-card-container:hover {
  box-shadow: 3px 3px 3px; }

.card__hidden-content {
  display: none; }

.card__details-btn {
  background-color: #dedede;
  padding: 6px;
  margin-bottom: 8px; }

.gh-card.material {
  text-align: center;
  border-radius: 5px;
  background: #fff;
  position: relative;
  color: #666;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  display: block;
  width: 30%; }
  .gh-card.material .header {
    background-position: top left;
    background-image: url("https://cdn-images-1.medium.com/max/2000/1*19LWzzJJDPqGq67Vyd0EjQ.jpeg");
    position: relative;
    padding: 0;
    margin: 0;
    height: 148px;
    border-radius: 4px 4px 0 0;
    background-size: cover;
    background-position: center;
    background-color: #000; }
  .gh-card.material .avatar {
    margin-top: -40px;
    border: 3px solid #fff;
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    -webkit-transition: -webkit-transform .2s ease-in-out; }
  .gh-card.material .content h1 {
    color: #111;
    font-size: 24px;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    margin: 16px 0 20px;
    line-height: 1;
    font-family: sans-serif; }
  .gh-card.material .content ul {
    display: flex;
    list-style-type: none;
    padding: 1rem;
    margin: 0.5rem; }
    .gh-card.material .content ul li {
      width: 33%;
      line-height: 42px; }
      .gh-card.material .content ul li a {
        color: #707070;
        text-decoration: none;
        display: block;
        color: #292f33;
        font-family: sans-serif; }
        .gh-card.material .content ul li a strong {
          display: block;
          color: #292f33;
          font-size: 24px;
          line-height: 0.5;
          font-weight: 200; }
